{% extends "static/templates/projectBase.html" %}
{% block projectContent %}

<style media="screen">

    .user {
        position: relative;
        margin-bottom: 15px;
        border: 2px solid black;
        border-radius: 5px;
        min-height: 100px;
        overflow: hidden;
    }
    .user>* {
        padding-left: 20px;
        padding-right: 20px;
    }
    #end {
        position: relative;
        left: 88%;
    }
    #chosenYear {
        position: absolute;
        top: 5px;
        left: 500px;
    }
	[data-tooltip] {
		position: relative;
		display: inline-block;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	[data-tooltip]:before, [data-tooltip]:after {
	  position: absolute;
	  visibility: hidden;
	  opacity: 0;
	  z-index: 999999;
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  bottom: 100%;
	  left: 50%;
	  -webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;

	}
	[data-tooltip]:before {
	  content: '';
	  margin-bottom: -15px;

	}
	[data-tooltip]:after {
	  height: auto;
	  width: auto;
	  line-height: 19px;
	  white-space: normal;
	  text-align: left;
	  padding: 11px 11px 11px 11px;
	  font-size: 13px;
	  content: attr(data-tooltip);
	  background-color: #90EE90;
	  color: #000000;
	  
	}
	
	[data-tooltip]:hover, [data-tooltip]:focus {
	  background-color: transparent;
	}
	[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
	  opacity: 1;
	  visibility: visible;
	    -webkit-transform: translate(-50%, -10px);
		-moz-transform: translate(-50%, -10px);
		-ms-transform: translate(-50%, -10px);
		-o-transform: translate(-50%, -10px);
		transform: translate(0%, -10px);
	}


</style>

<h1>Project #1</h1>

<div id="chart">
    <div class="user" id="colleges">
        <h3>Choose Colleges</h3>
        <div class="container">
            <div class="row">
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KP" class="form-check-input" type="checkbox" checked> Engineering
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KM" class="form-check-input" type="checkbox" checked> Business
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KT" class="form-check-input" type="checkbox" checked> Media
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KV" class="form-check-input" type="checkbox" checked> LAS
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LC" class="form-check-input" type="checkbox" checked> Veterinary Medicine
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KY" class="form-check-input" type="checkbox" checked> Applied Health &amp; Science
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KL" class="form-check-input" type="checkbox" checked> Agr, Consumer, &amp; Env Sci
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KN" class="form-check-input" type="checkbox" checked> Education
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KR" class="form-check-input" type="checkbox" checked> Fine &amp; Applied Arts
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KS" class="form-check-input" type="checkbox" checked> Graduate College
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LG" class="form-check-input" type="checkbox" checked> Labor &amp; Empl. Rel
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="NB" class="form-check-input" type="checkbox" checked> Provost &amp; VC Acad Affairs
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KW" class="form-check-input" type="checkbox" checked> DGS
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LN" class="form-check-input" type="checkbox" checked> Center Innov in Teach Learn
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LL" class="form-check-input" type="checkbox" checked> Social Work
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="KU" class="form-check-input" type="checkbox" checked> Law
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LP" class="form-check-input" type="checkbox" checked> Information Science
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LE" class="form-check-input" type="checkbox" checked> Aviation
                </label>
                <label class="form-check-label col-lg-3 col-xs-6">
                <input college="LM" class="form-check-input" type="checkbox" checked> Provost Academic Programs
                </label>
            </div>
        </div>
    </div>
    <div class="user" id="years">
        <h3>Choose Year</h3>
        <h4 id="chosenYear">2015</h4>
		<input id="sb" type="range" min=5 max=15 value=15>
        <span id="start">2005</span>
        <span id="end">2015</span>
    </div>
		<span class="simptip-position-top simptip-multiline simptip-fade" data-tooltip="I'm a multiline tooltip with movable effect for information" align="center">
          text
        </span>
	
</div>

<script>

</script>

<script src="web/vis.js"></script>

{% endblock %}
